name: Publish to PyPI

on:
  workflow_call:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  publish:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    env:
      OS: ubuntu-latest
      POETRY-CACHE: ~/.cache/pypoetry
      PYTHON: '3.11'
      POETRY: '1.3.0'

    steps:
    - name: Wait for tests to succeed
      uses: lewagon/wait-on-check-action@v1.0.0
      with:
        ref: ${{ github.ref }}
        running-workflow-name: publish
        check-regexp: Tests.?
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        wait-interval: 10

    - name: Checkout
      uses: actions/checkout@v3

    - name: Cache Poetry
      uses: actions/cache@v3
      with:
        path: ~/.cache/pypoetry
        key: poetry-cache-${{ env.OS }}-${{ env.POETRY-CACHE }}-${{ env.PYTHON }}-${{ env.POETRY }}

    - name: Setup Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ env.PYTHON }}

    - name: Run Poetry image
      uses: abatilo/actions-poetry@v2.0.0
      with:
        poetry-version: ${{ env.POETRY }}

    - name: Install requirements
      run: |
        poetry install --only ci

    - name: Poetry Build
      run: |
        poetry build

    - name: Publish
      env:
        PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
      run: |
        poetry config pypi-token.pypi $PYPI_TOKEN
        poetry publish
